EXPO_PUBLIC_NODE_ENV=local
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_BACKEND_URL=http://192.168.1.11:5001
EXPO_PUBLIC_FRONTEND_URL=https://drinaluza.vercel.app
EXPO_PUBLIC_UPDATES_CHECK_URL=https://api.github.com/repos/ahmed-derbala/drinaluza-expo-releases/releases/latest
EXPO_PUBLIC_UPDATES_MIN_FREE_STORAGE_GB=2
EXPO_PUBLIC_UPDATES_MAX_APK_INSTALLERS_COUNT=1
EXPO_PUBLIC_API_TIMEOUT_MS=60000
EXPO_PUBLIC_CACHE_TTL_MS=600000