EXPO_PUBLIC_NODE_ENV=local
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_BACKEND_URL=http://192.168.1.11:5001
EXPO_PUBLIC_BACKEND_URL_local=http://127.0.0.1:5001
EXPO_PUBLIC_BACKEND_URL_4g=http://10.246.121.120:5001
EXPO_PUBLIC_FRONTEND_URL=https://drinaluza.vercel.app
EXPO_PUBLIC_UPDATE_CHECK_URL=https://api.github.com/repos/ahmed-derbala/drinaluza-expo-releases/releases/latest
EXPO_PUBLIC_UPDATE_MIN_FREE_STORAGE_MB=1000
EXPO_PUBLIC_TIMEOUT_MS=60000