EXPO_PUBLIC_NODE_ENV=local
EXPO_PUBLIC_BACKEND_URL=http://192.168.1.11:5001
EXPO_PUBLIC_FRONTEND_URL=https://drinaluza.vercel.app
EXPO_PUBLIC_UPDATE_CHECK_URL=https://api.github.com/repos/ahmed-derbala/drinaluza-expo-releases/releases/latest
EXPO_PUBLIC_UPDATE_DOWNLOAD_ROOT_URL=https://github.com/ahmed-derbala/drinaluza-expo-releases/releases/download
EXPO_PUBLIC_TIMEOUT_MS=60000