# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# backups
backups/

builds/

#env
envs/
.env
.env.prod
.env.dev
.env.local
.env.sample

#config files
src/config/production.config.js
src/config/development.config.js
src/config/local.config.js

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
